<%= stylesheet_link_tag "profile.css" %>

<header class="intro">
  <div class="container" style="margin-top:10%">
    <div class="intro-body"><h1 class="brand-heading">ROAR</h1>
      <div class="row">
        <div class="col-md-6"><p class="text-left">Default User</p></div>
        <div class="col-md-6"><a href="#" class="text-right">Logout</a></div>
      </div>
      <div class="row">
        <!-- PROFILE BODY -->
        <div class="col-md-3">
          <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-md-3">
          <blockquote class="bg-success" style="border-radius:4px">
            <small>Ovo je plejsholder tekst u kom ja, Brus Vejn, Betmen lično, glavom i kravatom, iskazujem svoje mišljenje o Faninoj seksualnoj orijentaciji. Gej.</small>
            <footer>Brus zvani Vejn u <cite title="Proceedings about Fanna (transcript)">Proceedings about Fanna (transcript)</cite></footer>
          </blockquote>
        </div>
        <!-- COMMENT BOX -->
        <div class="col-md-6 col-centered">
          <div class="detailBox">
            <div class="titleBox">
              <label>Comment Box</label>
              <button type="button" class="close">&times;</button>
            </div>
            <div class="commentBox">
              <p class="taskDescription">Ejlelelel ćuću ruću smokvice.</p>
            </div>
            <div class="actionBox">
              <ul class="commentList">
                <li>
                  <div class="commenterImage">
                    <img src="http://lorempixel.com/50/50/people/6" />
                  </div>
                  <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                  </div>
                </li>
                <li>
                  <div class="commenterImage">
                    <img src="http://lorempixel.com/50/50/people/7" />
                  </div>
                  <div class="commentText">
                    <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>
                  </div>
                </li>
                <li>
                  <div class="commenterImage">
                    <img src="http://lorempixel.com/50/50/people/9" />
                  </div>
                  <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                  </div>
                </li>
              </ul>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Your comments" />
                </div>
                <div class="form-group">
                  <button class="btn btn-default">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- END OF COMMENT BOX -->
      </div>
    </div>
  </div>
</header>
