<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Default User</p> <small><cite title="Source Title">Plebiland, Plebia  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> pleb@plebst.com
                <br
                /> <i class="glyphicon glyphicon-globe"></i> www.pleb.com
                <br /> <i class="glyphicon glyphicon-gift"></i> Plebuary 30, 1999</p>
        </div>
