<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<body style="background-color:#18B6DB">
<div class="container-fluid" style="background-color:#9EF815; width:100%; height:300px">
<h1 style="margin-left:45%; margin-top:8%; font:">LOGINs</h1>
<div class="bannanna"></div>
<div class="paja"></div>
</div>
<table>
  <thead>
    <tr>
      <th>First Name</th>
       <th>PAPUCA</th>
       <th>KLOMPA</th>
      <th>Last Name</th>
      <th>Profile Picture</th>
      <img src="http://arhiva.glas-javnosti.rs/arhiva/1999/03/29/images/paja.jpg" class="img-circle" style="margin-left:43s%; margin-top:5%">
      <th>About Me</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<br>


</body>
